<html>
    <head>
        <title>
           Registration Form
        </title>
        <link rel="stylesheet" href="myStyle.css">
    </head>
    <body>

        <form action="livedemo4.php" method="post" id="myForm">

            Name: <input type="text" name="txtName" id="txtName" required class="myStyle">
            <br>
            <span id="lblErr" style="color: red;font-size: 20px;">
               
            </span>
            <br>

            Age: <input type="number" name="txtAge" id="txtAge" required class="myStyle" >
            <br>
            <span id="lblErr1" style="color: red;font-size: 20px;">
               
            </span>
            <br>
            <input type="submit" name="btn1" value="Register">

        </form>
    </body>
</html>
